.root {
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: black solid 2px;
  padding: 15px;
}

.block1 {
  width: 500px;
  height: 50px;
  text-align: center;
  padding: 15px;
  border: black solid 2px;
  margin-bottom: 15px;
}

.block2 {
  width: 500px;
  height: 50px;
  padding: 15px;
  border: black solid 2px;
}

button {
    margin-right: 20px;
    background-color: rgb(116, 150, 237);
}

